<div>
  <p>
    <% if @user.name =! nil %>
      <h1>No Name Saved</h1>
    <% else %>
      <h1><%= @user.name %></h1>
    <% end %>
    <% if @user.image =! nil %>
      <%= image_tag @user.image %></br>
    <% end %>
    Neighborhood: <%= @user.neighborhood %></br>
    E-mail: <%= @user.email %></br>
  </p>
</div>