@import "materialize";

.hide {
  display: none;
}

.cards > .card {
  display: inline-block; 
}

.bigger-font {
  font-size: 150%;
}

.btn {
  background-color: green;
}

a {
  color: green;
}

.logo-pad{
  left: 2%;
  top: 1vh;
  border-radius: 10px;
}

.logo-pad > img{
  border-radius: 10px;
}

.hide-on-med-and-down.left-nav-pad {
  padding-left: 8%;
}

.flash-success, .flash-error, #error_explanation{
  border: 1px solid black;
  text-align: center;
}

.flash-success {
  background-color: #7EFF78;
  color: green;
}

.flash-error, #error_explanation {
  background-color: #FF939E;
  color: red;

}